<div class="navbar default centered">
	<div class="navbar-header">
		<div class="container basic-wrapper">
			<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
			<div class="navbar-brand text-center">
				<a href="/">
					<img src="/public/images/logo.png" alt="" data-src="/public/images/logo.png" data-ret="/public/images/logo@2x.png" class="retina logo" alt="Patagonia Home Logo">
				</a>
			</div>
		</div><!--/.container -->

		<nav class="collapse navbar-collapse text-center">
			<ul class="nav navbar-nav">

<!--
				<li class="dropdown">
					<a href="/" class="dropdown-toggle js-activated">Home</a>
					<ul class="dropdown-menu">
						<li><a href="/home/about">Our Story</a></li>
						<li><a href="/home/contact">Contact</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="/faq/warranty" class="dropdown-toggle js-activated">FAQs</a>
					<ul class="dropdown-menu">
						<li><a href="/faq/warranty">Warranty</a></li>
						<li><a href="/faq/shipping">Shipping</a></li>
						<li><a href="/faq/care">Care</a></li>
						<li><a href="/faq/customization">Customization</a></li>
					</ul>
				</li>
-->
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated">Products</a>
					<ul class="dropdown-menu">
						<li><a href="/products/beds/">Beds</a></li>
						<li class="dropdown-submenu"><a href="#" class="dropdown-toggle js-activated">Seating</a>
							<ul class="dropdown-menu">
								<li><a href="/products/sofas/">Sofas</a></li>
								<li><a href="/products/sectionals/">Sectionals</a></li>
								<li><a href="/products/dining_chairs/">Dining Chairs</a></li>
								<li><a href="/products/chairs/">Occasional Chairs</a></li>
							</ul>
						</li>
						<li><a href="/products/ottomans/">Ottomans</a></li>
						<li><a href="/products/chaises/">Chaises</a></li>
						<li><a href="/products/tables/">Tables</a></li>
						<li><a href="/products/chest/">Chests</a></li>
						<li><a href="/products/consoles/">Consoles</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated">Fabrics/Finishes</a>
					<ul class="dropdown-menu">
						<li><a href="/upholstery/fabrics/">Fabrics</a></li>
						<li><a href="/upholstery/finishes/">Wood and Nailhead Finishes</a></li>
						<li><a href="/upholstery/vinyl/">Vinyl</a></li>
					</ul>
				</li>
				<!--
				<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated">Resources</a>
					<ul class="dropdown-menu">
						<li><a href="/public/com-form.pdf">COM Form</a></li>
						<li><a href="/public/credit-card-authorization.pdf">Credit Card Authorization Form</a></li>
						<li><a href="/public/new-account.pdf">New Account Form</a></li>
						<li><a href="/public/uniform-sale-use.pdf">Uniform Sale and Use Form</a></li>
					</ul>
				</li>
				-->
				<li><a href="/contact/">Contact</a></li>
<!--
				<li><a href="/about/">About</a></li>
				<li><a href="/products/occasional-chairs/">Occasional Chairs</a></li>
				<li><a href="/products/dining-chairs-bonquetes/">Dining Chairs and Banquetes</a></li>
				<li><a href="/products/chase-ottoman/">Chases and Ottomans</a></li>
				<li><a href="/products/chase-goods/">Chase Goods</a></li>
				<li><a href="/dining-chairs-tables/">Dining Chairs and Tables</a></li>
				<li class="dropdown">
					<a href="/upholstery/beds" class="dropdown-toggle js-activated">Upholstery</a>
					<ul class="dropdown-menu">
						<li><a href="/upholstery/beds">Beds</a></li>
						<li><a href="/upholstery/ottomans">Ottomans</a></li>
						<li><a href="/upholstery/chairs">Chairs</a></li>
						<li><a href="/upholstery/sofas">Sofas/Sectionals</a></li>
						<li><a href="/upholstery/chaises">Chaises</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="/casegoods/tables" class="dropdown-toggle js-activated">Case Goods</a>
					<ul class="dropdown-menu">
						<li><a href="/casegoods/tables">Coffee Tables</a></li>
						<li><a href="/casegoods/consoles">Consoles/Buffets</a></li>
						<li><a href="/casegoods/nightstands">Nightstands</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="/upholstery/beds" class="dropdown-toggle js-activated">Case Goods</a>
					<ul class="dropdown-menu">
						<li><a href="/upholstery/beds">Coffee Tables</a></li>
						<li><a href="/upholstery/ottomans">Consoles/Buffets</a></li>
						<li><a href="/upholstery/chairs">Nightstands</a></li>
					</ul>
				</li>

				<li><a href="/finishes">Finishes/Nailheads</a></li>
				<li><a href="/accounts">Trade/Deisgn Accounts</a></li>
-->
			</ul>

		</nav>
	</div><!--/.navbar-header --> 
	
</div><!--/.navbar -->