<div class="navbar default centered">
	<div class="navbar-header">
		<div class="container basic-wrapper">
			<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
			<div class="navbar-brand text-center">
				<a href="/">
					<img src="/public/images/logo-home.png" alt="" data-src="/public/images/logo-home.png" data-ret="/public/images/logo-home.png" class="retina logo" alt="Patagonia Home Logo">
				</a>
			</div>
		</div><!--/.container -->

		<nav class="collapse navbar-collapse text-center">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated">Products</a>
					<ul class="dropdown-menu">
						<li><a href="/products/beds/">Beds</a></li>
						<li class="dropdown-submenu"><a href="#" class="dropdown-toggle js-activated">Seating</a>
							<ul class="dropdown-menu">
								<li><a href="/products/sofas/">Sofas</a></li>
								<li><a href="/products/sectionals/">Sectionals</a></li>
								<li><a href="/products/dining-chairs/">Dining Chairs</a></li>
								<li><a href="/products/occasional-chairs/">Occasional Chairs</a></li>
							</ul>
						</li>
						<li><a href="/products/casegoods/">Casegoods</a></li>
						<!--
						<li class="dropdown-submenu"><a href="#" class="dropdown-toggle js-activated">Casegoods</a>
							<ul class="dropdown-menu">
								<li><a href="/products/tables/">Tables</a></li>
								<li><a href="/products/chest/">Chests</a></li>
								<li><a href="/products/consoles/">Consoles</a></li>
							</ul>
						</li>
						-->
						<li><a href="/products/ottomans/">Ottomans</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle js-activated">Fabrics/Finishes</a>
					<ul class="dropdown-menu">
						<li><a href="/products/fabrics/">Fabrics</a></li>
						<li><a href="/products/finishes/">Wood and Nailhead Finishes</a></li>
						<li><a href="/products/vinyls/">Vinyl</a></li>
					</ul>
				</li>
				<li><a href="/contact/">Contact</a></li>
        <li class="social" style="margin-top:0;"><a href="http://facebook.com/patagoniahomefurniture"><i class="icon-s-facebook"></i></a></li>
        <li class="social" style="margin-top:0;"><a href="https://www.instagram.com/patagonia_home/"><i class="icon-s-instagram"></i></a></li>
			</ul>

		</nav>
	</div><!--/.navbar-header --> 
	
</div><!--/.navbar -->