
<div class="navbar default centered">
	<div class="navbar-header">
	  <div class="container basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
		<div class="navbar-brand text-center"><a href="/"><img src="/public/images/logo.png" alt="" data-src="/public/images/logo.png" data-ret="/public/images/logo@2x.png" class="retina" alt="Patagonia Home Logo"/></a></div>
	  </div>
	  <!--/.container -->
	  <nav class="collapse navbar-collapse text-center">
		<ul class="nav navbar-nav">
		  <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Our Products</a>
			<ul class="dropdown-menu">
			  <li><a href="header.html">Beds and Daybeds</a></li>
			  <li><a href="header2.html">Benches and Ottomans</a></li>
			  <li><a href="header3.html">Casegoods</a></li>
			  <li><a href="header3.html">Chairs</a></li>
			  <li><a href="header3.html">Sofas and Sectionals</a></li>
			</ul>
		  </li>
		  <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Fabrics and Finishes</a>
			<ul class="dropdown-menu">
			  <li><a href="portfolio.html">Textiles</a></li>
			  <li><a href="portfolio2.html">Velvet</a></li>
			  <li><a href="portfolio3.html">Vinyl</a></li>
			  <li><a href="portfolio4.html">Finishes</a></li>
			  <li><a href="portfolio5.html">Nailheads</a></li>
			</ul>
		  </li>
		  <li><a href="/about">About</a></li>
		  <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Media</a>
			<ul class="dropdown-menu">
			  <li><a href="portfolio.html">Advertisements</a></li>
			  <li><a href="portfolio2.html">Seen In/On</a></li>
			  <li><a href="portfolio3.html">Editorial</a></li>
			  <li><a href="portfolio4.html">Showcases</a></li>
			</ul>
		  </li>
		  <li><a href="/contact">Contact</a></li>
		  <li class="dropdown"><a href="/" class="dropdown-toggle js-activated">Home</a></li>
		</ul>
	  </nav>
	</div>
	<!--/.navbar-header --> 
	
</div>
<!--/.navbar -->