<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner bp0">
		<h1 class="intro text-center">Editorial</h1>
		<p class="lead main text-center">Spring market gets generally good reviews</p>
	</div>
	<!-- /.container -->

	<div class="container inner tp0">

		<div class="col-sm-12">
			<p><i>by Paul Johnson</i></p>
            <P>HIGH POINT – The fact that Los Angeles-based businessman Edward Guerrero set up a showroom at the spring High Point Market at all – let alone how well he did – represents a positive sign for the trade show.</p>

            <p>Guerrero, president of Patagonia Trading Co. Inc., eliminated his market showroom in the fall of 2008 during the height of the impact of the Great Recession.</p>

            <p>“The economy kept us away,” he said.</p>

            <p>But earlier this year, as he saw business pick up, Guerrero decided to return to High Point for the spring market that ended Thursday. His casegoods and upholstery company had a showroom in the Interhall area of the International Home Furnishings Center.</p>

            <p>Guerrero said he made the right call by returning for the spring edition of the world’s largest home furnishings trade show.</p>

            <p>“We’ve had a great market. We’ll definitely commit to the fall,” he said.</p>

            <p>Though some exhibitors reported slow traffic, many marketgoers say the spring trade show offered the most reasons for optimism in the home furnishings industry since the onset of the Great Recession, then the start of a still-fragile economic recovery.</p> 

            <p>Most marketgoers interviewed last week and this week by The High Point Enterprise reported better traffic in showrooms and either greater orders for product or the promise of improving business in the future.</p>

            <p>Others, including Atlanta-based Indo Puri and Los Angeles-based RC Furniture, say they believed this week’s market was slower with fewer attendees.</p>

            <p>But traffic was up at the 110 N. Wrenn St. showroom of Accessories Abroad, said Dianne Cunningham, owner of the Keysville, Va.-based company.</p>

            <p>The business at the spring market was a noticeable improvement from the two trade shows during last year, she said.</p>

            <p>“I did feel that traffic was much better, and that people were there to buy,” Cunningham said.</p>
		</div>


	</div>

</div>
<!-- /light-wrapper -->