<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner">
		<div class="col-sm-12">
			<h1>{{message}} - {{error.status}}</h1>
			<pre>{{error.stack}}</pre>
		</div>
	</div>

</div>
