

<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner">
		<div class="col-sm-12">


			<img width="100%" src="/public/images/homepage-bruno-logo.jpg" alt="Patagonia Trading Company" />

			<div class="divide60"></div>

			<h1 class="intro text-center">MESSAGE FROM THE PRESIDENT</h1>
			<p class="lead main text-left">Welcome to Patagonia Home where we specialize in the art and manufacture of, bench-made, custom upholstery and iconic case goods to define the grace and comfort of today’s home.   Our boutique company’s designs encompass a wide range of sought-after styles from classic Transitional, Mid-Century- Modern and Hollywood Glam to Art Deco.  Or, to test your creative abilities a design of your own making.</p><p class="lead main text-left">
			As the sole owner and designer I started Patagonia Home in the early 1990s.   Case goods were manufactured and imported from Peru and we specialized in Mahogany and other readily available exotic woods.   As quality product to import diminished I re-thought the business and began manufacturing in Southern California, making a few specific case goods pieces using wood indigenous to the United States. </p><p class="lead main text-left">
			Today, all furniture proudly bears the “Made in USA” label and is built in Los Angeles, California.  Local artisans, many who learned their craft from their fathers and grandfathers, take great pride in working painstakingly to ensure every order is built to your specifications.</p><p class="lead main text-left">
			Appreciated as much for our accommodating, easy-going company attitude as its can-do design savvy, Patagonia Home is dedicated to creating the best possible experience for you, our family of clients.  We are committed to delivering satisfaction at all levels of our business and are devoted to building and nurturing long-term relationships with our clients.</p>
			<h4>Welcome to our home.</h4>
			<h5>Edward Guerrero<h5>


		</div>
	</div>

</div>


