

<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner">
		<div class="col-sm-12">
			<img width="100%" src="/public/images/homepage-bruno-logo.jpg" alt="Patagonia Trading Company" />
		</div>
	</div>

</div>


