<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner bp0">
		<!-- <h1 class="intro text-center">Product Name?</h1>
		<p class="lead main text-center">Patagonia Home  specializes in the art and assembly of exotic wood furniture and stylish upholstery pieces designed for a diverse clientele base all over the world.</p> -->

		<div class="row">
			
			<div class="item">
				<img src="/public/catalog/{{data.images.[2]}}" alt="{{data.title}}" class="img-responsive">
			</div>

		</div>

	</div>
	<!-- /.container -->

	<div class="divide30"></div>

	<div class="container inner tp0">

		<h1 class="post-title">{{data.title}}</h1>


		<div class="row">
			<div class="col-sm-9">
				<p>{{data.description}}</p>
			</div>

			<div class="col-sm-3 lp30">
				<ul class="item-details">
					<li>
						<h3>Date</h3>
						02 May 2013
					</li>
					<li>
						<h3>Categories</h3>
						Conceptual, Still Life
					</li>
				</ul>
			</div>
			<!-- /.col --> 
		</div>

	</div>



</div>
<!-- /light-wrapper -->