<div class="offset2"></div>
  
<div class="light-wrapper">

	<div class="container inner bp0">
		<!-- <h1 class="intro text-center">Product Name?</h1>
		<p class="lead main text-center">Patagonia Home  specializes in the art and assembly of exotic wood furniture and stylish upholstery pieces designed for a diverse clientele base all over the world.</p> -->

		<div class="row">
			

			<div class="item">
				<img src="http://placehold.it/500x500" alt="" class="img-responsive">
			</div>




		</div>

	</div>
	<!-- /.container -->

	<div class="divide30"></div>

	<div class="container inner tp0">

		<h1 class="post-title">Fermentum Purus Ligula</h1>


		<div class="row">
			<div class="col-sm-9">
				<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
				<p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi porta gravida at eget metus. Praesent commodo cursus magna vel.</p>
			</div>

			<div class="col-sm-3 lp30">
				<ul class="item-details">
					<li>
						<h3>Date</h3>
						02 May 2013
					</li>
					<li>
						<h3>Categories</h3>
						Conceptual, Still Life
					</li>
				</ul>
			</div>
			<!-- /.col --> 
		</div>

	</div>



</div>
<!-- /light-wrapper -->